.carousel-item::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: #000;
    opacity: 0.6;
}
.carousel-img{
    height: 570px;
}
.font-size{
    font-size: 50px;
    font-weight: 700;
}
.font-size1{
    font-size: 45px;
    font-weight: 500;
}
.explore-text-background{
    background-color: #F4FAFD;
}
@media only screen and (max-width:992px){
    .ellipsis-text{
        width: 100%;
    }
    .ellipsis{
        width: 70%; 
     text-overflow:ellipsis;
     overflow:hidden;
     
     display: -webkit-box !important;
     -webkit-line-clamp: 4;
     -webkit-box-orient: vertical;
     white-space: normal;
    }
    .show{
        bottom: 16px;
        right: 10%;
    }
}